{% extends 'base.html' %}
{% load static %}
{% block title %}Chat Session{% endblock title %}
{% block head%}
    <link rel="stylesheet" href="{% static 'assets/css/chat_style.css' %}">
{% endblock head %}
{% block content %}
<header class="page-header">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <h4>Customer Chat Support</h4>
            <a href="{% url 'chat:end_chat' session.session %}" title="End this conversation" onClick="return confirm('are you sure you want to close this conversation?');" class="btn btn-outline-danger"><i class="far fa-window-close"></i> Exit conversation</a>
        </div>
        <small>
            {% if user.is_staff %}
                <p>Chatting with : {{session.user.nickname}}
                    
                    {% if session.user.mobile %}
                        | {{session.user.mobile}} (Mobile)
                    {% endif %}
                    {% if  session.user.whatsapp %}
                        | {{session.user.whatsapp}} (WhatsApp)
                    {% endif %}
                                              
                </p>
            {% comment %} {% else %} {% endcomment %}
            {% endif %}
        </small>
    </div>
</header>
<div class="main">
    <div class="container ">
        {% if not user.is_staff %}
            {% if not session.agent %}
                <p style="text-align:center; border:1px solid #8eb98e; width:50%; margin:0 auto;color: #787373;border-radius: 40px;">Please wait while we connect you to the next available agent...</p>
            {% else %}
                <p style="text-align:center; border:1px solid #8eb98e; width:50%; margin:0 auto;color: #787373;border-radius: 40px;">You are chatting with {{session.agent.nickname}}</p>
            {% endif %}
        {% endif %}
        <div class="chat-log" id="display">
            {% comment %} <div class="chat-log__item">
                <h3 class="chat-log__author">Felipe <small>14:30</small></h3>
                <div class="chat-log__message">Yo man</div>
            </div> {% endcomment %}
             {% comment %} 
            <div class="chat-log__item chat-log__item--own">
                <h3 class="chat-log__author">Fabrício <small>14:30</small></h3>
                <div class="chat-log__message">BRB</div>
            </div>
            <div id="display"></div> {% endcomment %}
        </div>
    </div>
</div>
<div class="chat-form">
    <div class="container ">        
        <form class="form-horizontal" id="post-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-10 col-xs-8">
                    <input type="text" class="form-control" name="message" id="message" placeholder="Message" />
                    {% comment %} <textarea name="message" id="message" class="form-control" placeholder="Message" cols="10" rows="1"></textarea> {% endcomment %}
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="submit" class="btn btn-success btn-block">Send</button>
                </div>
            </div>
            
            {% if user.is_staff %}
            <div class="row">
                {% for msg in chat_templates %}
                <div class="col-sm-2 m-3" style="text-align:center; border:1px solid #8eb98e;padding: 5px; border-radius: 40px; font-size:14px">
                   <a href="#!" onclick="copyText('{{msg|linebreaks}}')" style="color: #443939;">{{msg|truncatechars:'25'}}</a>
                </div>
                {% endfor %}                
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>
const copyText = (txt) => {
    $('#message').val(txt)
    //alert(txt)
}
</script>
<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();
    window.localStorage.setItem("is_my_reply", true);
    $.ajax({
      type:'POST',
      url:'/chat/sendMessage',
      data:{
            message:$('#message').val(),
            url: window.location.href,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        window.scrollTo(0,document.body.scrollHeight);
         //alert(data)
        //console.log(data)
        
      }
    });
    document.getElementById('message').value = ''
  });
</script>
<script>
$(document).ready(function(){
    const url = window.location.href
    const text = url.match(/\w+/g)
    const session_id = text[text.length - 1];

    const src = "{% static 'assets/sound/msg_tone.wav' %}";            
    var audio = new Audio(src);

    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chat/getMessages/"+session_id,
            success: function(response){
                //console.log(response);
                $("#display").empty();
                let count = 0;
                for (let key in response.messages)
                {
                    if(response.messages[key].is_mine){
                        var temp = "<div class='chat-log__item chat-log__item--own'><h3 class='chat-log__author'>Me - <small style='font-size:11px'>"+response.messages[key].sent_at+"</small></h3> <div class='chat-log__message'>"+response.messages[key].message+"</div></div>"
                        
                    } else {
                        var temp = "<div class='chat-log__item'><h3 class='chat-log__author'>"+response.messages[key].sender+" - <small style='font-size:11px'>"+response.messages[key].sent_at+"</small></h3><div class='chat-log__message'>"+response.messages[key].message+"</div></div>"
                    }
                    $("#display").append(temp);
                    count = count + 1;
                }

                const last_notif = window.localStorage.getItem('chat_notification');
                const isMe = window.localStorage.getItem('is_my_reply');
                //console.log(last_notif)
                //console.log(last_notif, count)
                //console.log(isMe)
                if (last_notif < count){
                    
                    
                    //audio.play();
                    //$("#new_notification_alert").show();
                    if(isMe=='false'){
                        //console.log('ALAERT SOUND!!!')
                        audio.play();
                    }
                }
                

                if (count < 1){
                    //console.log('if part')
                    //$("#number_of_notificaion").hide();
                    window.localStorage.setItem("chat_notification", 0);
                } else {
                    //console.log('else part')                            
                    //$("#number_of_notificaion").show();
                    //$("#number_of_notificaion").text(count);
                    window.localStorage.setItem("chat_notification", count);
                }
                window.localStorage.setItem("is_my_reply", false);
            },
            error: function(response){
                alert('An error occured')
            }
        });
        window.scrollTo(0,document.body.scrollHeight);

    }, 1500);
})
</script>

{% endblock scripts %}