{% extends 'base.html' %}
{% load static %}
{% block title %}Start Chat Session{% endblock title %}
{% block head%}
{% endblock head %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container my-4">

    <h3 class="font-weight-bold">Chat with Customer Care</h3>
    <hr class="mt-5">

    {% comment %} <p>To start chatting click on this button</p> {% endcomment %}
    
    {% if not user.is_staff %}
        <form method="post">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg me-2">Start Chatting  &nbsp &nbsp<i class="fas fa-arrow-circle-right"></i></button>
            {% if message %}
                <br/>
                <code>{{message}}</code>
            {% endif %}
        </form>
    {% else %}
        <a href="{% url 'core:dashboard' %}" class="btn btn-outline-primary btn-lg me-2">Back To Dashboard</a>
    {% endif %}
    <hr class="mb-5"/>
        
    

    <p class="font-weight-bold">Tips!</p>

    <p>Do not share any <code>OTP</code> with our customer care agents.</p>
    
   
        
    {% comment %} <div class="border border-light p-3 mb-4">

        <div class="d-flex align-items-center justify-content-center" style="height: 350px">
            <div class="p-2 bd-highlight col-example">Flex item</div>
            <div class="p-2 bd-highlight col-example">Flex item</div>
            <div class="p-2 bd-highlight col-example">Flex item</div>
        </div>

    </div> {% endcomment %}

    </div>

{% endblock content %}
{% block scripts %}

{% endblock scripts %}