/* Scroll Bar Design */
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
a:-webkit-any-link:focus {
    outline-offset: 1px;
}
a:hover{
	transition: all 0.3s ease-in-out 0s
}
a:before{
	transition: all 0.3s ease-in-out 0s
}