{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" novalidate>
        {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br/> <br/>
            {% endfor %}

            {% include "components/error_messages.html" %}

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>

        
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block scripts %}
<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Current Password';
    form_fields[2].placeholder='Enter password...';
    form_fields[3].placeholder='Re-enter Password...';


    for (var field in form_fields){	
        form_fields[field].className += ' form-control form-control-lg'
    }
</script>

{% endblock scripts %}